$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/v4-shims';
@import "~@fortawesome/fontawesome-free";

body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

nav {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #e3f2fd;
}

#add-color-form-container {
    position: absolute;
    left: 0; top: 0;
    background-color: rgba(255, 255, 255, 85%);
    width: 100vw;
    height: 100vh;

    .inner-cont {
        margin: 0 auto;
        width: 100%;
    }
}

a.disabled {
    color: gray;
    pointer-events: none;
}