{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-8">
                <p class="display-3 fw-normal text-center mb-5">{{ 'Add new yeti'|trans }}</p>
                <div class="col-lg-6 mx-auto">
                    {% include 'components/yeti_form.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}